body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #fff7f0;
  color: #333;
}

.header-section {
  text-align: center;
  padding: 80px 20px 30px;
  background: linear-gradient(135deg, #e63946, #ff7b7b);
  color: white;
  border-radius: 0 0 40px 40px;
}

.header-section h1 {
  margin: 0;
  font-size: 2.5rem;
}

/* 🔹 Formulario */
.form-section {
  background: white;
  width: 90%;
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-section h2 {
  color: #e63946;
  text-align: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input, select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1rem;
}

.btn-guardar {
  width: 100%;
  padding: 10px;
  background-color: #e63946;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-guardar:hover {
  background-color: #e63946;
}

/* 🔹 Tabla */
.table-section {
  width: 90%;
  max-width: 900px;
  margin: 30px auto 80px;
  background: white;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
}

.table-section h2 {
  color: #e63946;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

thead {
  background-color: #e63946;
  color: white;
}

th, td {
  padding: 12px;
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: #fff1e0;
}

.btn-eliminar {
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 6px 10px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s;
}

.btn-eliminar:hover {
  background-color: #e60000;
}

.btn-aceptar{
  background-color: #d32f2f;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 6px; /* pequeño espacio debajo del botón Aceptar */
}

.btn-aceptar:hover {
  background-color: #bc2727;
}

.btn-rechazar{
  background-color: #ff7b7b;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-rechazar:hover {
  background-color: #ef6672;
}